---
- https://github.com/tpope/vim-pathogen
- https://github.com/scrooloose/nerdtree
- https://github.com/vim-scripts/L9
- https://github.com/mileszs/ack.vim
- https://github.com/tpope/vim-rails
- https://github.com/vim-ruby/vim-ruby
- https://github.com/skwp/vim-rspec
- https://github.com/mattn/gist-vim
- https://github.com/davidoc/taskpaper.vim
- https://github.com/vim-scripts/vimwiki
- https://github.com/tpope/vim-endwise
- https://github.com/ervandew/supertab
- https://github.com/lucapette/vim-ruby-doc
- https://github.com/tomtom/tlib_vim
- https://github.com/garbas/vim-snipmate
- https://github.com/honza/snipmate-snippets
- https://github.com/tpope/vim-surround
- https://github.com/MarcWeber/vim-addon-mw-utils.git
- https://github.com/scrooloose/syntastic
- https://github.com/tpope/vim-repeat
- https://github.com/vim-scripts/Align
- https://github.com/Lokaltog/vim-easymotion
- https://github.com/vim-scripts/ZoomWin
- https://github.com/vim-scripts/tComment
- https://github.com/kien/ctrlp.vim
- https://github.com/Lokaltog/vim-powerline
- https://github.com/Raimondi/delimitMate
- https://github.com/tpope/vim-markdown
- https://github.com/leshill/vim-json
- https://github.com/tpope/vim-haml
- https://github.com/kchmck/vim-coffee-script
- https://github.com/pangloss/vim-javascript
- https://github.com/vim-scripts/eruby.vim
- https://github.com/groenewege/vim-less
- https://github.com/altercation/vim-colors-solarized
